/*------------------------------------------------------------------
[Table of contents]
1. Styles for devices(>1200px)
2. Styles for devices(>=992px and <=1199px)
3. Styles for devices(>=768px and <=992px)
4. Styles for devices(>=481px and <=767px)
5. Styles for devices(<=480px)
-------------------------------------------------------------------*/
/*----------------
[1. Styles for devices(>1200px)]
*/
@media (min-width: 1201px){
}

@media (max-width: 1200px){
	.shipping-text{text-align: center;}
}
/*----------------
[2. Styles for devices(>=993px and <=1200px)]
*/

@media (min-width: 993px) and (max-width: 1200px){
.best-selling-product .fullwidth .product-list > li:nth-child(4n+5){clear: none;}
.best-selling-product .fullwidth .product-list > li:nth-child(3n+4){clear: left;}

}
@media (max-width: 992px){
	.support-footer .newsletter, .support-footer .store-me{float: none;}

	.category .nav-menu, .popular-tabs .nav-menu{margin-top: 30px}

}
/*--------------------
[3. Styles for devices(>=768px and <=992px)]
*/


@media (min-width: 768px) and (max-width: 992px){

	.banner-top .banner-inner-content .text-banner h2{font-size: 16px; line-height: 40px; padding: 0 15px;}

	.postcontent .blog-info, .postcontent .blog_short_text{padding: 15px 0}

	.grid-left-sidebar .tool-page .tool-left, .grid-left-sidebar .tool-page .tool-right{float: none; width: 100%; text-align: left;}
	.grid-left-sidebar .tool-page .tool-right{margin-top: 15px}
	.page-content .product-list.grid > li{width: 50%}
	.page-content .product-list.grid > li:nth-child(3n+4){clear: none;}
	.page-content .product-list.grid > li:nth-child(2n+3){clear: none;}

	/*.product-image .product-img-thumb li{margin-bottom: 20px !important}*/

	.secondary-box .attribute .color{margin-right: 15px}
	.detail-page .action-detail .action > a{margin-left: 0}
	.secondary-box .action-detail .qty{margin-right: 10px}

	.fullwidth .product-list > li:nth-child(4n+5){clear: none;}
	.fullwidth .product-list > li:nth-child(3n+4){clear: left;}
	.best-selling-product .fullwidth .product-list > li:nth-child(3n+4){clear: none;}

	.fancybox-wrap{width: 90% !important}
	.fancybox-inner{width: auto !important; height: auto !important}
}

@media (max-width: 767px){
	.container, .detail-page .container{width: 96%; margin: 0 auto; padding: 0 15px}
	.navigation #main-menu .dropdown-menu > .container, .navigation #main-menu .dropdown-menu.mega_dropdown.level1 > .container{width: 100%}
	.navigation #main-menu .dropdown-menu > .container .row, .navigation #main-menu .dropdown-menu.mega_dropdown.level1 > .container .row{margin: 0}
	.main-header .logo{text-align: left; margin-top: 20px}
	/*Header*/
	.main-header-content{padding: 20px 0; border-bottom: 0}
	.main-header .logo > a{display: inline-block;}

	/*home slide*/
	.slide-clothes .bx-wrapper .bx-controls-direction a{width: 50px; height: 50px; top: calc(50% - 25px); margin: 0}
	.slide-clothes .bx-wrapper:hover .bx-controls-direction .bx-prev{left: 20px}
	.slide-clothes .bx-wrapper:hover .bx-controls-direction .bx-next{right: 20px}
	/*Banner*/
	.banner-top.banner1, .banner-top.banner1-2.border-arrow-right{padding-bottom: 30px}

	/*Shipping*/
	.shipping-content .shipping-color{padding: 20px 0; border-bottom: 1px solid #ccc; border-right: 0}
	.shipping-content .shipping-color:last-child{border-bottom: 0}
	
	/*main menu*/
	#main-menu ul.level0 > li > .dropdown-menu{box-shadow: 0 0 0 transparent}
	.mega_dropdown.level1 .block-container > a{border-bottom: 0; color: #333; font-weight: 600; text-transform: capitalize; font-size: 14px}
	#main-menu .level1 > li > a, .mega_dropdown.level1 .block-container > a{padding: 0; font-size: 14px; color: #4f4f4f; padding-left: 10px; border: 0; line-height: 35px; text-transform: capitalize; font-weight: 600;}
	ul.level2 > li > a{padding-left: 20px}
	.page ul.level2 > li > a{padding-left: 10px}
	#main-menu .navbar .navbar-nav>li:hover>a, #main-menu .navbar .navbar-nav>li.active>a{color: #00cf92}
    .navigation #main-menu .mega_dropdown ul.level2{margin: 0}
    .navigation #main-menu .dropdown-menu.level1 li  a:hover{color: #00cf92}
    #main-menu .dropdown-menu.level1:before{display: none;}
	#main-menu .dropdown-menu{background-color: transparent;}
	#main-menu .collapse{display: block; border: 0}
	/*menu toggle*/
	.menu-toggle{float: right; display: inline-block !important;}
	.navigation{position: fixed; display: block; overflow-y: scroll; overflow-x: hidden; height: 100%; z-index: 9999; top: 0; width: 250px; background-color: #fff; transition: all 0.5s;-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s; left: -250px; box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.3); background-color: #fff !important;background-image: none; padding: 0}
	
	.main-header-content{position: relative;}
	.menu-toggle-close{display: block !important;}
	#main-menu .navbar-collapse{margin: 0; padding: 0}
	.navigation.closed{left: -250px}
	.navigation.opened{left: 0; }
	#main-menu .navbar .bg{margin: 0; background-color: transparent;}
	#main-menu .navbar .bg:before, #main-menu .navbar .bg:after{display: none;}
	#main-menu .navbar .border:before, #main-menu .navbar .border:after{display: none;}
	.navigation > .container-fluid{padding: 0}
	.navigation #main-menu .navbar-nav{display: block; margin: 0}
	#main-menu li.dropdown>a:after{display: none;}
	.navigation #main-menu .dropdown-menu, .navigation #main-menu .dropdown-menu.mega_dropdown.level1{display: block; webkit-transform: translate(0,0); -moz-transform: translate(0,0); -o-transform: translate(0,0); -ms-transform: translate(0,0);transform: translate(0,0); box-shadow: 0 0 0 transparent ; border: 0; min-width: 100%; opacity: 1; visibility: visible; background-image: none; padding: 0; position: static; width: auto !important}
    .navigation #main-menu .level0 > li.dropdown>a:before{display: none;}
    .navigation #main-menu .menu-banner{display: none;}
    .navigation #main-menu .dropdown{clear: both;}
    .navigation #main-menu .mega_dropdown .block-container{float: none; width: 100%; padding: 0}
    .navigation #main-menu .mega_dropdown.page .block-container{padding: 0}
    .navigation #main-menu .level2.dropdown-menu{position: static;}
    .navigation #main-menu ul.level0 > li >a{background-color: #f5f5f5; line-height: 40px; font-size: 17px; text-transform: uppercase; color: #333; text-align: center; padding: 0; border: 0}
	
    /*popup newsletter*/
	.fancybox-wrap{width: 90% !important}
	.fancybox-inner{width: auto !important; height: auto !important}

	/*category product*/
	.page-content .product-list.grid > li:nth-child(3n+4){clear: none;}
	.page-content .product-list.grid > li:nth-child(2n+3){clear: none;}
	
	/*Footer*/
	/*.main-footer .title{margin-bottom: 0}*/
	
	/*left bar*/
	.col-left .left-module{margin-bottom: 0}
	.col-left .left-module.cat{margin-bottom: 20px}

	.shop-fullwidth-top-sidebar .col-left .left-module:nth-child(3){clear: left;}


	/*Detail*/
	.detail-page .primary-box, .detail-page .secondary-box{width: 100%; padding: 0}
	.detail-page .secondary-box{padding-top: 20px}
	/*Tool page*/
	.tool-page-top{margin-top: 30px}

	/*Contact page*/
	.main-contact-page .contact-content .information .title, .main-contact-page .contact-content .information .subcribe{width: 100%; padding: 0}
	.main-contact-page .contact-content .information .title{text-align: center; margin-bottom: 30px}

	/*product category page*/
	.product-category .page-content .item:last-child .content{margin-bottom: 30px}

	/*toggle mobile*/
	.grid-left-sidebar .left-module .toggle-icon{display: block;}
	.grid-left-sidebar .left-module .toggle-mobile{display: none;}
}
@media (max-width: 640px){
	.tool-setting .currency .dropdown > a, .tool-setting .language .dropdown > a{padding: 0 15px}
	

	/*Testimonials*/
	.testi-caption > p{width: 70%}
	/*Footer*/
	.main-footer .row > div{width: 100%}
	.main-footer .title{margin-bottom: 15px}

	/*Tool page*/
	.tool-page-top .tool-right, .tool-page-top .tool-left{float: none; text-align: left;}
	.tool-page-top .tool-left{margin-bottom: 20px}

	/*popup newsletter*/
	#popup-newsletter{width: 100%; padding-left: 0}

	.best-selling-product .fullwidth .col-mobile-12{width: 100%}
	
	.shop-single-product-full .product-img-thumb .bx-wrapper .bx-controls-direction .bx-next{bottom: -30px}
	.shop-single-product-full .product-img-thumb .bx-wrapper .bx-controls-direction .bx-prev{top: -30px}

	/*404 page*/
	.main-404-page .search-404{width: 100%}
	/*toggle mobile*/
	.footer .toggle-icon{display: block;}
	.footer .toggle-mobile{display: none;}
	/*.toggle-mobile.open{display: block;}*/
	.page-order ul.step li{display: block; width: 50%}
	.page-order table > thead {display: none;}
	.page-order table > tfoot > tr:first-child > td:first-child{display: none;}
	.page-order table > tfoot > tr > td{display: block; width: 50%; float: left;}
	.page-order table  tr td{text-align: center;}

	.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{display: block;}
}
/*--------------------
[4. Styles for devices(>=481px and <=767px)]
*/

/*--------------------
[5. Styles for devices(<=480px)]
*/
@media (max-width: 480px){
	/*Header top*/
	.header-top .tool-setting, .header-top .top-right{float: none; width: 100%; text-align: center;}
	.header-top .top-right{margin-top: 15px; position: relative;}
	.top-right .top-search{position: static;}
	.top-right .top-search .form-drop{width: 100%; right: 0; z-index: 10}
	.top-right .top-search .form-drop input{width: 100%}

	.main-header-content .header-link, .main-header-content .header-search{width: 100%; text-align: center; margin-bottom: 10px}

	.top-right .cart-block{position: static;}
	.top-right .cart-block .cart-block-content{width: 100%;}
	/*Banner*/
	.banner-top .banner-inner-content .text-banner h2{font-size: 16px; line-height: 40px; padding: 0 15px;}
	/*nav-menu title*/
	.nav-menu .navbar-label .title span{font-size: 18px}
	
	/*Testimonials*/
	.testi-wrap .item{width: 100%}
	.testi-caption > p{width: 96%}

	/*Shipping*/
	.shipping-icon, .shipping-text{display: block; text-align: center; margin: 0}
	.shipping-text{margin-top: 10px}
	.shipping-text h3{font-size: 18px}
	/*Footer*/
	.support-footer .input-group{width: 100%}
	.support-footer .store-me li a:after{padding: 0 10px}

	.product-list.list li .right-block, .product-list.list li .left-block{width: 100%}
	.product-list.list li .right-block{padding: 20px 0 0 0}

	/*Left bar*/
	.shop-fullwidth-top-sidebar .left-module .toggle-icon{display: block;}
	.shop-fullwidth-top-sidebar .left-module .toggle-mobile{display: none;}
	.shop-fullwidth-top-sidebar .left-module .toggle-icon{right: 15px}
	.shop-fullwidth-top-sidebar .col-left .left-module.col-mobile-12{width: 100%}
	.page-content ul.grid > li.col-mobile-12{width: 100%}

	.fullwidth .col-mobile-12{width: 100%}

	.product-img-thumb .bx-wrapper .bx-controls-direction .bx-next{bottom: -30px}
	.product-img-thumb .bx-wrapper .bx-controls-direction .bx-prev{top: -30px}

	/*Contact page*/
	.main-contact-page .contact-content .information .form-subcribe > input{width: 100%; margin-right: 0}
	.main-contact-page .contact-content .information .form-subcribe > input.name{margin-bottom: 15px}

	/*order page*/
	.page-order .cart_navigation{text-align: center;}
	.page-order .cart_navigation a, .page-order .cart_navigation a.next-btn{float: none; display: inline-block; margin: 5px 0}
	.tab-detail .product-tab .nav-tab > li{display: block; padding: 0}
	.primary-box .product-img-thumb{width: 20%}
	.primary-box .product-full{width: calc(80% - 4px)}
	.secondary-box .action-detail .qty{margin-right: 20px}

	.breadcrumb .list-breadcr li::before{padding: 0 10px 0 6px}
	.blog-detail .information .form-subcribe .name-box, .blog-detail .information .form-subcribe .email-box{width: 100%; margin: 0}

}
@media (max-width: 360px){
	.secondary-box .attribute .color, .secondary-box .attribute .size{display: block;}
	.secondary-box .attribute label{min-width: 80px; float: left;}
	.secondary-box .attribute select{width: calc(100% - 80px)}
	.secondary-box .attribute .color{margin: 0 0 10px}
	.detail-page .action-detail .action{display: block; margin-top: 10px}
	.detail-page .action-detail .add-to-cart{display: block; margin-bottom: 10px}
	.detail .action-detail .action > a.heart{margin-left: 0}
	.main-header .logo > a{display: block; float: none;}
	.main-header .logo > a.menu-toggle{margin-top: 20px}
	.main-header .logo{text-align: center;}


	.page-order table > tfoot > tr > td{width: 100%}
	.blog-tab .nav-tab > li{width: 100%; border-top: 1px solid #d7d7d7}
	.blog-tab .nav-tab > li:first-child{border-top: 0}
	.blog-tab .nav-tab > li a{border-right: 0}


}